<app-post-form [currentPost]="currentPost" (newPost)="onNewPost($event)" (updatedPost)="onUpdatedPost($event)" [isEdit]="isEdit"></app-post-form>
<h3>Posts</h3>
<div class="card" *ngFor="let post of posts">
  <div class="card-body">
  <h3>{{post.title}}</h3>
  <p>{{post.body}}</p>
    <hr>
    <button (click)="editPost(post)" class="btn btn-danger"><i class="fa fa-remove">edit</i></button>
    <button (click)="removePost(post)" class="btn btn-danger"><i class="fa fa-pencil"></i>remove</button>
  </div>
</div>
